<div class="container mt-5">
  <div class="row">
    <div class="col"> 
      <h2 class="mb-4">Detalle de la Tarea</h2>
    </div>
    <div class="col text-center">
      <button class="btn btn-secondary" routerLink="/listar">
        <i class="fas fa-arrow-left"></i> Atrás
      </button>
    </div> 
  </div>

  <div class="row">
    <div class="col">
      <label for="titulo" class="form-label"><strong>Título:</strong></label>
      <p>{{ tarea?.titulo }}</p>
    </div>
    <div class="col">
      <label for="descripcion" class="form-label"><strong>Descripción:</strong></label>
      <p>{{ tarea?.descripcion }}</p>
    </div>
    <div class="col">
      <label for="estado" class="form-label"><strong>Estado:</strong></label>
      <p>{{ tarea?.estado === 0 ? 'Pendiente' : tarea?.estado === 1 ? 'En proceso' : 'Completa' }}</p>
    </div>
    <div class="col">
      <label for="fechaCreacion" class="form-label"><strong>Fecha creación:</strong></label>
      <p>{{ tarea?.fechaCreacion }}</p>
    </div>
  </div>
</div>